h2 {
  text-shadow: 3px;
}

svg {
  color: rgba(23, 223, 126, 255);
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

.colore {
  color: rgba(23, 223, 126, 255);
}

#back {
  background-color: rgba(23, 223, 126, 255);
}
